@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
  min-height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 96vh;
  width: 100%;
  max-width: 600px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #f6f6f7;
  border-radius: 10px;
}

.header {
  font-size: 2.5rem;
  padding: 0 1.25rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0 0 1rem 0;
  color: #4b4b51;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  margin: 1rem 0;
}

.footer {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1rem 0 0 0;
  font-size: 1.87rem;
  color: #4b4b51;
}

.items {
  width: 100%;
  list-style: none;
  color: #4a4a50;
}

.item {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  background-color: #e3e3e5;
  border-radius: 0.25rem;
  color: inherit;
}

.item:last-child {
  margin: 0;
}

.item:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.item_title {
  margin: 0 1rem;
  flex-grow: 1;
  cursor: pointer;
}

.item_checkbox {
  appearance: none;
  margin: 0;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
  outline: none;
  border: 1px solid #c9c9cb;
}
.item_checkbox:where(:hover, :focus-visible) {
  border: 1px solid #636dff;
}

input[type='checkbox']::before {
  content: '';
  width: 0.8em;
  height: 0.8em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #636dff;
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(
    16% 28%,
    33% 71%,
    100% 9%,
    100% 28%,
    30% 100%,
    26% 100%,
    4% 36%
  );
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.item_delete {
  background-color: transparent;
  border: none;
  width: 1.15em;
  height: 1.15em;
  cursor: pointer;
  outline: none;
  color: #636dff;
}

.label {
  position: absolute;
  left: 999999px;
}

.add_form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 1rem 0;
  color: #4b4b51;
}

.add_input {
  flex-grow: 1;
  min-height: 48px;
  font-size: 1rem;
  padding: 10px 10px;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: #f6f6f7;
  border: 1px solid #c9c9cb;
  border-right: none;
  outline: none;
  color: inherit;
}
.add_input:where(:hover, :focus-visible) {
  border: 1px solid #636dff;
  border-right: none;
}

.add_input::placeholder {
  color: #76767b;
}

.add_btn {
  border-radius: 0 0.25rem 0.25rem 0;
  border: 1px solid #636dff;
  border-left: none;
  padding: 0 0.7rem;
  font-size: inherit;
  cursor: pointer;
  background-color: #636dff;
  color: #ffffff;
  outline: none;
}

.add_btn:where(:hover, :focus-visible) {
  color: #ffffff;
  background-color: #737bf5;
  transition: 0.5s;
  border: 1px solid #737bf5;
  border-left: none;
}

.search_form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  color: #4b4b51;
}

.search_input {
  width: 100%;
  flex-grow: 1;
  min-height: 48px;
  font-size: 1rem;
  padding: 10px 10px;
  border-radius: 0.25rem;
  background-color: #f6f6f7;
  border: 1px solid #c9c9cb;
  outline: none;
  color: inherit;
}
.search_input::placeholder {
  color: #76767b;
}
.search_input:where(:hover, :focus-visible) {
  border: 1px solid #636dff;
}

.empty_content {
  margin: auto;
  color: #4b4b51;
}

.line {
  text-decoration: line-through;
  text-decoration-color: #636dff;
}
