 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 #root{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 body{
  font-size: 16px;
  font-family:'Roboto', sans-serif;
  background-color:rgb(33, 158, 188);
  padding: 1rem;
  min-height: 100vh;
 }

 .App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 600px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: rgb(222, 188, 64);
  border-radius: 10px;
 }

 .header{
  font-size: 2.5rem;
  padding: 0 1.25rem;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0  0 1rem 0 ;
 }

 .main{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content:flex-start;
  align-items: center;
  overflow-y: auto;
  margin: 1rem 0;
 }

 .footer{
width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 1rem 0 0 0 ;
  font-size: 1.87rem;
 }

 .items{
  width: 100%;
  list-style: none;
 }

 .item{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  padding: 1.5rem 1rem;
  background-color:rgb(255, 149, 0);
  border-radius: 0.25rem;
 }

 .item:last-child{
  margin:0;
 }

 .item:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
 }

 .item_title{
  margin: 0 1rem;
  flex-grow: 1;
  cursor: pointer;
 }

 .item_checkbox{
  appearance: none;
  margin: 0;
  background-color: #fff;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
 }

 input[type="checkbox"]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rebeccapurple;
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(16% 28%, 33% 71%, 100% 9%, 100% 28%, 30% 100%, 26% 100%, 4% 36%);
 }


input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.item_delete{
  background-color: transparent;
  border: none;
  width: 1.15em;
  height: 1.15em;
  cursor: pointer;
  outline: none;
}

 .label{
  position: absolute;
  left:999999px;
 }

 .add_form{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 0 1rem 0;
 }

 .add_input{
  flex-grow: 1;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem 0 0 0.25rem ;
  border: 1px solid black;
  border-right: none;
  outline: none;
 }

 .add_btn{
  border-radius: 0 0.25rem 0.25rem 0   ;
  border: 1px solid black;
  border-left: none;
  padding: 0 0.25rem;
  cursor: pointer;
 }

 .add_btn:hover,
 .add_btn:hover{
  color: white;
  background-color:black;
  transition: 0.5s;
 }

 .search_form{
  width: 100%;
  display: flex;
  justify-content: flex-start;
 }

 .search_input{
  width: 100%;
  flex-grow: 1;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid black;
  outline: none;
 }

 .empty_content{
  margin: auto;
 }

 .line {
  text-decoration: line-through;
}